<h1>Sign Up!</h1>

<form action= '<%= user_url %>' id = 'sign_up' method = 'Post'>
  <%= render "shared/token" %>

  <label for= 'username'>Username:</label>
  <input type= 'text' name= "user[username]" id = 'username'>
  <br>

  <label for= 'password'>Password:</label>
  <input type= 'text' name= "user[password]" id = 'password'>
  <br>

  <input type= 'submit'>

</form>
